src/main/mule/dw.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="417858c6-093c-43fc-837f-e05e7a9c9080" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dwFlow" doc:id="d5a304a5-ccd7-4b69-b8b6-19ccbdd4c4ee" >
		<http:listener doc:name="Listener" doc:id="127780af-e7d2-40e2-953a-ce74f56a40b0" config-ref="HTTP_Listener_config" path="/ka"/>
		<logger level="INFO" doc:name="Logger" doc:id="354b0ffd-979c-477e-b1f0-68f025380836" message="flow"/>
		<ee:transform doc:name="Transform Message" doc:id="cfd9654c-c79e-4b15-956a-57b67462318f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "data": 
    {
        "type": payload."type"[0],
        "attributes":
        {
         "items": flatten(payload ++ payload.employeeAddress) map
         { 
             "zip":$.zip,
             "Addreess":$.Address
         }
        }
    }
}    ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
